html{
    scroll-behavior: smooth;

}


body{
    background-color: black;
    background-image: url(images/bgrimg.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    display: flex;
    justify-content: center;
}
a{
    color: beige;
    border: 1px solid;
    border-radius: 25px;
    background-color: black;
    border-color: black;
    padding: 8px;

}
nav{
   height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: beige;

}
nav ul li{
    display: inline-block;
    margin: 30px;

}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
}
.header-text {
    margin-top: 20px;
    font-size: 30px;
    color: beige;

}
p{
    color: beige;
    font-size: 30px;
    max-width: 500px;
    alli
    display: flex;
    justify-content: center;
}